.banner
    .wrapper
        .banner__row
            .banner__rotate Конференция
            .banner__text__container
                .banner__date 12 ноября
                h2.banner__title This Year
                    span Next Year
                .banner__agency
                    .icon-agency_1
                    .icon-agency_2
                    .icon-agency_3
                    .icon-agency_4
            a.banner__button(href='#') Зарегистрироваться

            .banner__vector
                svg(width='398' height='361' viewbox='0 0 398 361' fill='none' xmlns='http://www.w3.org/2000/svg')
                    g(clip-path='url(#clip0_4_3605)')
                        path(d='M192.813 300.445V110.5H4.57488V300.445H192.813ZM196.687 304.327H0.70166V106.618H196.687V304.327Z' fill='#0080FF')
                        path(d='M99.9851 157.986L102.696 155.269L158.212 210.907L155.502 213.624L99.9851 157.986Z' fill='#0080FF')
                        path(d='M88.1073 107.006L92.3678 107.653L95.079 108.429L195.525 209.225L192.813 211.942L88.1073 107.006Z' fill='#0080FF')
                        path(d='M91.9806 131.332L175.255 214.789L177.708 214.918L181.194 215.306L90.5604 124.344L91.9806 127.45V131.332Z' fill='#0080FF')
                        path(d='M108.635 109.335L111.476 106.618L196.686 192.145L193.975 194.862L108.635 109.335Z' fill='#0080FF')
                        path(d='M128.647 109.335L131.359 106.618L195.525 171.054L192.813 173.772L128.647 109.335Z' fill='#0080FF')
                        path(d='M167.508 110.5L170.349 107.782L195.525 133.143L192.813 135.86L167.508 110.5Z' fill='#0080FF')
                        path(d='M148.013 109.335L150.724 106.618L195.525 151.646L192.813 154.363L148.013 109.335Z' fill='#0080FF')
                        path(d='M197.332 214.789C255.301 214.789 302.555 167.432 302.555 109.335C302.555 51.2387 255.301 3.88172 197.332 3.88172C139.363 3.88172 92.1097 51.2387 92.1097 109.335C92.1097 167.432 139.234 214.789 197.332 214.789ZM197.332 218.67C137.039 218.67 88.2366 169.761 88.2366 109.335C88.2366 48.9097 137.039 0 197.332 0C257.626 0 306.428 48.9097 306.428 109.335C306.428 169.761 257.497 218.67 197.332 218.67Z' fill='white')
                        path(d='M287.837 214.918C345.935 214.918 393.188 167.561 393.188 109.335C393.188 51.1093 345.935 3.75233 287.837 3.75233H197.332C139.234 3.75233 91.9805 51.1093 91.9805 109.335C91.9805 167.561 139.234 214.918 197.332 214.918H287.837ZM287.837 218.8H197.332C137.039 218.8 88.1073 169.761 88.1073 109.335C88.2364 49.0391 137.039 0 197.332 0H287.837C348.129 0 397.061 49.0391 397.061 109.465C397.061 169.89 348.129 218.8 287.837 218.8Z' fill='#FFB32C')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M244.327 217.764L300.747 275.473V216.6L244.327 217.764Z' fill='#FFB32C')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M80.3609 303.292L23.941 361V302.127L80.3609 303.292Z' fill='#0080FF')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M152.92 189.946C161.441 189.946 168.413 196.933 168.413 205.472C168.413 214.012 161.441 220.999 152.92 220.999C144.399 220.999 137.427 214.012 137.427 205.472C137.427 196.933 144.399 189.946 152.92 189.946Z' fill='#0080FF')
                        path(d='M152.92 217.118C159.375 217.118 164.539 211.942 164.539 205.472C164.539 199.003 159.375 193.827 152.92 193.827C146.464 193.827 141.299 199.003 141.299 205.472C141.299 211.942 146.464 217.118 152.92 217.118ZM152.92 220.999C144.399 220.999 137.427 214.012 137.427 205.472C137.427 196.933 144.399 189.946 152.92 189.946C161.441 189.946 168.413 196.933 168.413 205.472C168.413 214.142 161.441 220.999 152.92 220.999Z' fill='white')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M100.372 193.31C107.086 193.31 112.508 198.744 112.508 205.472C112.508 212.201 107.086 217.635 100.372 217.635C93.6588 217.635 88.2362 212.201 88.2362 205.472C88.1071 198.744 93.6588 193.31 100.372 193.31Z' fill='white')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M48.8586 193.31C55.5722 193.31 60.9947 198.744 60.9947 205.472C60.9947 212.201 55.5722 217.635 48.8586 217.635C42.1451 217.635 36.7225 212.201 36.7225 205.472C36.7225 198.744 42.1451 193.31 48.8586 193.31Z' fill='white')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M195.525 93.2907C204.175 93.2907 211.018 100.278 211.018 108.818C211.018 117.357 204.046 124.344 195.525 124.344C187.004 124.344 180.032 117.357 180.032 108.818C180.032 100.278 187.004 93.2907 195.525 93.2907Z' fill='#FFB32C')
                        path(d='M195.525 120.592C201.981 120.592 207.144 115.416 207.144 108.947C207.144 102.477 201.981 97.3018 195.525 97.3018C189.069 97.3018 183.906 102.477 183.906 108.947C183.906 115.287 189.069 120.592 195.525 120.592ZM195.525 124.474C186.875 124.474 180.032 117.487 180.032 108.947C180.032 100.407 187.004 93.4201 195.525 93.4201C204.046 93.4201 211.018 100.407 211.018 108.947C211.018 117.487 204.175 124.474 195.525 124.474Z' fill='white')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M250.783 96.6548C257.497 96.6548 262.919 102.089 262.919 108.818C262.919 115.546 257.497 120.98 250.783 120.98C244.069 120.98 238.646 115.546 238.646 108.818C238.517 102.089 243.94 96.6548 250.783 96.6548Z' fill='white')
                        path(fill-rule='evenodd' clip-rule='evenodd' d='M303.813 96.6548C310.526 96.6548 315.948 102.089 315.948 108.818C315.948 115.546 310.526 120.98 303.813 120.98C297.099 120.98 291.677 115.546 291.677 108.818C291.677 102.089 297.099 96.6548 303.813 96.6548Z' fill='white')
                    defs
                        clippath#clip0_4_3605
                            rect(width='396.36' height='361' fill='white' transform='translate(0.70166)')

        h4.banner__subtitle Команда рекламного холдинга GroupM рада открыть для вас двери digital-конференции NextM!

        p.banner__about NextM – это ежегодная digital-конференция, организованная ведущей международной рекламной группой GroupM, входящей в состав коммуникационного холдинга WPP и представленной в России агентствами Mindshare, MediaCom и Wavemaker.







