section.feedback
    .wrapper
        h2.feedback__title Отправить сообщение
        form.feedback__form
            .feedback__row
                input(type="text" placeholder="Ваше имя").feedback__name.feedback__field
                input(type="text" placeholder="Email").feedback__email.feedback__field
                textarea(placeholder="Ваше сообщение").feedback__mess.feedback__field
            button(type="submit").feedback__btn Отправить

