header.header.container
    .header__row
        h3.header__name Tyny
            span 2019
        button.menu__btn
            span.menu__burger
            span.menu__burger
            span.menu__burger
    .mob-menu
        .header__row-menu
            nav.header__menu
                ul.header__list
                    li.header__item
                        a(href='#') Конференция
                    li.header__item
                        a(href='#') Программа
                    li.header__item
                        a(href='#') Спикеры
                    li.header__item
                        a(href='#') Фото
                    li.header__item
                        a(href='#') Материалы

            a.header__btn(href='#') Регистрация
            .header__contacts
                a.header__mail(href='#')
                    .icon-mail

                a.header__facebook(href='#')
                    .icon-facebook






