section.speakers
    .wrapper
        h2.speakers__title Спикеры
        .speakers__row

            .swiper-button-prev.s-button-prev
            .swiper-button-next.s-button-next
            .swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                    .swiper-slide
                        img(src="img/slide.jpg" alt="Ярон Фаризон")
                        .speakers__name Ярон Фаризон
                        .speakers__company CEO MediaCom
                .swiper-pagination


